[Unit]
Description=Docker-compose monitoring service
After=docker.service
Requires=docker.service

[Service]
Environment="MONITORING_PATH=/opt/monitoring"
TimeoutStartSec=0
ExecStart=/opt/bin/docker-compose -f ${MONITORING_PATH}/sensu/docker-compose.yml up --no-recreate
ExecStop=/opt/bin/docker-compose -f ${MONITORING_PATH}/sensu/docker-compose.yml stop
ExecReload=/opt/bin/docker-compose -f ${MONITORING_PATH}/sensu/docker-compose.yml restart $i

[Install]
WantedBy=multi-user.target
